/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #0052ff;
  --error: #e7195a;
}
body {
  background: #fff;
  margin: 0;
  font-family: "Poppins";
}
.pages {
  padding-top: 50px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  background: #fff;
  max-width: 100%;
}
header.container {
  display: flex;
  flex-wrap: wrap;
}

.brand {
  text-align: center;
}
.loginSignup {
  min-width: 30%;
  text-align: center;
}
.news {
  display: flex;
  flex-wrap: wrap;
}
.containerStyles {
  width: 30%;
  height: 280px;
  margin: 0 auto;
}
.appImg {
  width: 20%;
  margin: auto;
}
form.signup,
form.login {
  max-width: 60%;
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  height: 300px;
}
form.signup,
form.login h3 {
  text-align: center;
}
.nav-box {
  display: flex;

  margin: auto;
}
.loadingImg {
  height: 500px;
  width: 500px;
  margin: auto;
}
.signup-btn {
  background: var(--primary);
  color: #fff;
  border: 2px solid var(--primary);
  padding: 5px 8px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  max-height: 50px;
}
div.links {
  width: 60%;
  padding: 15px;
}
header h1 {
  color: #0052ff;
}
header a {
  text-decoration: none;
  color: black;
}
header a:hover {
  color: #0052ff;
}
div.user {
  text-align: right;
  padding-right: 10px;
}
.homePageCards {
  text-align: center;

  border: 1px solid;
  border-color: #fff;
  border-radius: 15px;
}
.homePageCards:hover {
  border-color: var(--primary);
}
img.card-img {
  width: 100px;
  height: 100px;
}
.fav-products {
  display: flex;
  flex-wrap: wrap;
}
img.add-remove-icon {
  width: 50px;
  height: 50px;
}
label,
input {
  display: block;
  width: 40%;
  margin: auto;
  padding: 5px;
}
.coin-detail-box {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
.coin-detail-box img {
  width: 45%;
}
.link a {
  color: black;
}
.cards {
  text-align: center;
  margin: 20px auto;
  border: 1px solid;
  border-color: #fff;
  border-radius: 15px;
}
.cards:hover {
  border: 1px solid;
  border-color: #fff;
  border: 1px solid;
  border-color: var(--primary);
  border-radius: 15px;
}
.coinStatus {
  padding: 10px;
}
img.coinStatusImg {
  width: 80px;
  height: 80px;
}
.add-remove {
  padding: 5px;
  width: 50px;
  margin: auto;
}
.cardsInfoBox {
  padding-top: 5px;
}
div.error {
  padding: 10px;
  background: #fff;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.form-button {
  text-align: center;
  margin-top: 10px;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 5px 8px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  max-height: 50px;
}
nav button:hover {
  color: #fff;
  border: 2px solid var(--primary);
  background-color: var(--primary);
}

@media (max-width: 500px) {
  .brand {
    min-width: 100%;
  }
  .homePageCards {
    margin: 55px auto;

    min-width: 80%;
  }
  div.user {
  }
  label,
  input {
    width: 100%;
  }
  .coin-detail-box img {
    width: 20%;
  }
  .containerStyles {
    width: 90%;
    height: 280px;
    margin: 0 auto;
  }
  .appImg {
    margin-top: 300px;
    width: 70%;
  }
}

/* Middle */
@media (min-width: 501px) and (max-width: 1023px) {
  .brand {
    width: 100%;
    text-align: center;
  }
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .loginSignup {
    max-width: 40%;
  }
  nav {
    width: 100%;
  }
  .loginSignup {
    margin: auto;
  }
  .homePageCards {
    text-align: center;
    margin: 55px auto;

    width: 30%;
  }
  div.user {
    width: 100%;
  }
  div.links {
    width: 60%;
    padding: 15px;
    text-align: center;
  }
  .nav-box {
    width: 100%;
    margin: auto;
  }
  .cards {
    width: 40%;
  }
  form {
    margin: auto;
  }
  .coin-detail-box img {
    width: 15%;
  }
  .containerStyles {
    width: 90%;
    height: 280px;
    margin: 0 auto;
  }
  .appImg {
    margin-top: 200px;
    width: 70%;
  }
}

/* Big */
@media (min-width: 1024px) {
  .brand {
    max-width: 55%;
  }
  .container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .loginSignup {
    max-width: 30%;
    margin-left: 100%;
  }
  nav {
    width: 70%;
    margin: auto;
  }
  .homePageCards {
    margin: 55px 15px;
    width: 17%;
  }
  div.user {
    width: 100%;
  }
  div.links {
    width: 60%;
    padding: 15px;
    text-align: center;
    display: flex;
  }
  .linkText {
    margin: auto;
  }
  .nav-box {
    width: 100%;
  }
  .cards {
    width: 20%;
  }
  .coin-detail-box img {
    width: 15%;
  }
  label,
  input {
    max-width: 400px;
    padding: 5px;
  }
  .calculation {
    padding: 5px;
  }
}
